## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Visual Studio
.vs/
*.rsuser
*.sln.docstates

## JetBrains Rider
.idea/
*.sln.iml

## User-specific files
*.csproj.user

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## SQLite database files
*.db
*.db-shm
*.db-wal

## OS files
.DS_Store
Thumbs.db
