.content {
  margin-left: 250px;
  width: calc(100% - 250px);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 570px) {
  .content {
    margin-left: 80px;
    width: calc(100% - 80px);
  }
}
